body{
	background-color: #d3d3da !important;
	margin: 0;
	padding: 0;
}

.parent-container{
	position: relative;
	margin: 0 auto;
	max-width: 1400px;
	background-color: #fff;
}

@import "blocks/_header";
@import "blocks/_main-section";
@import "blocks/_contacts";
@import "blocks/_footer";